#{extends 'Secure/layout.html' /}



<div class="container fill">
	<div class="row" style="padding-top: 100px;">
<!--
	<div class="offset3 span3">
			<img class="img-responsive" style="padding-bottom: 25px;" src="@{'/public/images/tdm_logo.png'}"/>
		</div>
-->
		<div class="offset4 span6">
			<img class="img-responsive" style="padding-bottom: 25px;" src="@{'/public/images/gym.png'}"/>
		</div>
	</div>
	
	<div class="row">
		<div class="offset4 span6">
			<div class="">
				#{form @authenticate()}
					
					#{if flash.error}
						<p class="alert alert-error">
							&{flash.error}
						</p>
					#{/if}
					#{if flash.success}
						<p class="alert alert-info">
							&{flash.success}
						</p>
					#{/if}
				

				 <div class="control-group">
				    <label for="username">&{'secure.username'}</label>
				    <div class="controls">
				      <input type="text" name="username" id="username" value="${flash.username}" />
				    </div>
				  </div>


				  <div class="control-group">
				    <label for="password">&{'secure.password'}</label>
				    <div class="controls">
				      <input type="password" name="password" id="password" value="" />
				    </div>
				  </div>

				 <!--  <div class="control-group">
				    
				    <div class="controls">
				     <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} /> &{'secure.remember'}
				    </div>
				  </div> -->


				
					</p>
					<p id="signin-field">
						<button type="submit" class="btn" id="signin"/>&{'secure.signin'}</button>
					</p>
				#{/form}
        <ul>
          <li><a href="@{'/public/Interactive Wizard/1. Create route/index.html'}" target="_blank" role="button">Create Route</a></li>
          <li><a href="@{'/public/Interactive Wizard/2. Modify route/GYM - modify route_upd/index.html'}" target="_blank" role="button">Modify and Update Route</a></li>
          <li><a href="@{'/public/Interactive Wizard Greek Version/Greek Version/1. Create route/index.html'}" target="_blank" role="button">Δημιουργία GTFS δεδομένων</a></li>
          <li><a href="@{'/public/Interactive Wizard Greek Version/Greek Version/2. Modify route/index.html'}" target="_blank" role="button">Eπικαιροποίησης GTFS δεδομένων</a></li>
        </ul>
			</div>
      
      <div class="row" style="padding-top: 80px;">
          <img class="img-responsive" style="padding-bottom: 25px;" src="@{'/public/images/eulife.jpg'}"/>
          <img class="img-responsive" style="padding-bottom: 25px;" src="@{'/public/images/eucom.jpg'}"/>
          <img class="img-responsive" style="padding-bottom: 25px;" src="@{'/public/images/prtameio.png'}"/>
          <img class="img-responsive" style="padding-bottom: 25px;" src="@{'/public/images/ypep.jpg'}"/>
      </div>
      <h6 style="font-size:22px; text-align:center; color:rgba(69,186,1,1);">
          <span style="font-size:22px;">
              With the&nbsp;contribution of the&nbsp;LIFE programme of the European Union -&nbsp;LIFE14 ENV/GR/000611 and &nbsp;the co-financing&nbsp;of&nbsp;Green Fund, Greece
          </span>
       </h6>


    </div>
  </div>
</div>
